h2{
  background-color: chocolate;
}
.vasco1 {
  color: rgba(0, 0, 0, 0.8);
}
.vasco2 {
  color: rgba(0, 0, 0, 0.6);
}
.vasco3 {
  color: rgba(0, 0, 0, 0.4);
}
.vasco4 {
  color: rgba(255, 255, 0, 1);
}