/* body {
  margin: 0px;
} */

.box {
  color: #d77009;
  background: #000000;
  width: 1000px;
  height: 400px;
  padding: 0px;
  border: 60px solid #d77009;
  border-radius: 30px;
  margin: 2px;
}
.box2{
  color: #e9c214;
  background: #000000;
  width: 1000px;
  height: 400px;
  padding: 0px;
  border: 60px solid  #e9c214;
  border-radius: 30px;
  margin: 4px;
}
div{
  font-size: 60px;
}
body{
  background-color: black;
  /*writing-mode: vertical-lr;*/
}
.colordiv2{
  color: #e9c214;
}
h1{
  color: gold;
  font-size: 30px;
}
.cordiv{
  color: goldenrod;
  font-size: 20px;
}
a{
  display: inline-block;
  color: goldenrod;
}
button{
  color: goldenrod;
}
span{
  color: chocolate;
}


